    <h3>Create Garden Section</h3>
    <div class="gardenSection">
      <form class="create-garden-section" name="gardenSectionCreate" action="/section/new" method="post">
        <input type="hidden" class="form-control" name="userId" value="<%= currentUser.id %>">
        <input type="hidden" class="form-control" name="gardenId" value="<%= garden.id %>">
        <div class="form-group">
          <label for="sectionName">Section Name</label>
          <input id="sectionName" type="text" name="name" placeholder="Name of this garden" tabindex="1" required autofocus>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Section Description</span>
          </div>
          <textarea class="form-control" name="description" aria-label="Section Description" tabindex="2" required></textarea>
        </div>

        <div class="form-group">
          <label for="numOfRows">Number of Rows</label>
          <input id="numOfRows" type="number" name="number_of_rows" min="1" placeholder="How many rows in this section" tabindex="3" required>
        </div>

        <div class="form-group">
          <label for="numOfItems">Number of Items</label>
          <input id="numOfItems" type="number" name="number_of_items" min="1" placeholder="How many items in this section" tabindex="4" required>
        </div>

        <div class="form-group">
          <label for="datePlanted">Date Planted</label>
          <input id="datePlanted" type="date" name="date_planted" placeholder="Date planted" tabindex="5" required>
        </div>

        <!-- for the crop -->
        <div class="gardenCropInfo">
          <h3>Crop Information</h3>
          <% if (crops){ %>

            <% crops.forEach(function(crop){ %>
              <div class="form-group">
                <ul class="list-group">
                  <!-- <li class="list-group-item">Crop ID: <%= crop.id %></li> -->
                  <li class="list-group-item list-group-item-primary"><input type="radio" name="crop_choice" value="<%= crop.id %>"> Add <%= crop.name %> to section</li>
                  <!-- <li class="list-group-item"> <input type="hidden" name="crop_name" value="<%= crop.name %>"> Crop Name: <%= crop.name %></li> -->
                  <li class="list-group-item">Wikipedia Url: <a href="<%= crop.en_wikipedia_url %>" target="_blank" > <%= crop.en_wikipedia_url %> </a></li>
                </ul>
              </div>
            <% }) %>
          <% } else { %>
            <p>Unable to find crops</p>
          <% } %>
        </div>

        <!-- scrollspy for the crop -->
        <!-- <div id="bootstrap-scrollspy" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
        </div>
        <div data-spy="scroll" data-target="#bootstrap-scrollspy" data-offset="0" class="scrollspy">
          <h4 id="list-item-1">Item 1</h4>
          <p>...</p>
          <h4 id="list-item-2">Item 2</h4>
          <p>...</p>
          <h4 id="list-item-3">Item 3</h4>
          <p>...</p>
          <h4 id="list-item-4">Item 4</h4>
          <p>...</p>
        </div> -->

    <input class="btn btn-success" type="submit">
    </form>
    </div>

    <div class="gardenSectionNotes">
      <h3>Garden Section Crop Notes</h3>
      
    </div>
    <a class="btn btn-primary" role="button" href="/">Home</a>
    <a class="btn btn-success active" role="button" href="/garden/show/<%=currentUser.id %>">Show Gardens</a>
