    <h2>Garden Section</h2>
    <div class="gardenSection">
      <!-- <p>Use this portion of the form to describe the garden section.</p> -->
      <form class="create-garden-section" name="gardenSectionCreate" action="/section/new" method="post">
        <input type="hidden" class="form-control" name="userId" value="<%= currentUser.id %>">
        <input type="hidden" class="form-control" name="gardenId" value="<%= garden.id %>">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="sectionName">Section Name</label>
          <div class="col-sm-10">
            <input id="sectionName" type="text" name="name" placeholder="Name of this section" tabindex="1" required autofocus>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="numOfRows">Number of Rows</label>
          <div class="col-sm-10">
            <input id="numOfRows" type="number" name="number_of_rows" min="1" placeholder="# of rows" tabindex="2" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="numOfItems">Number of Plants</label>
          <div class="col-sm-10">
            <input id="numOfItems" type="number" name="number_of_items" min="1" placeholder="# of plants" tabindex="3" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="datePlanted">Date Planted</label>
          <div class="col-sm-10">
            <input id="datePlanted" type="date" name="date_planted" placeholder="Date planted" tabindex="4" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="description">Section Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" aria-label="Section Description" tabindex="5" required></textarea>
          </div>
        </div>

        <!-- for the crop -->
        <div class="gardenCrop">
          <h3>Choose Section Crop </h3>
          <p>Pick which crop will occupy this section of the garden.</p>
          <% if (crops){ %>
            <% crops.forEach(function(crop){ %>
              <div class="form-group">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-primary"><input type="radio" name="crop_choice" value="<%= crop.id %>">
                    Plant <%= crop.name %>
                    | <a href="<%= crop.en_wikipedia_url %>" target="_blank" > <%= crop.name %> Wiki </a></li>
                </ul>
              </div>
            <% }) %>
          <% } else { %>
            <p>Unable to find crops</p>
          <% } %>
        </div>

        <!-- scrollspy for the crop -->
        <!-- <div id="bootstrap-scrollspy" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
        </div>
        <div data-spy="scroll" data-target="#bootstrap-scrollspy" data-offset="0" class="scrollspy">
          <h4 id="list-item-1">Item 1</h4>
          <p>...</p>
          <h4 id="list-item-2">Item 2</h4>
          <p>...</p>
          <h4 id="list-item-3">Item 3</h4>
          <p>...</p>
          <h4 id="list-item-4">Item 4</h4>
          <p>...</p>
        </div> -->

    <input class="btn btn-success" type="submit">
    </form>
    </div>

    <div class="gardenSectionNotes">
      <h3>Garden Section Crop Notes</h3>

    </div>
    <a class="btn btn-primary" role="button" href="/">Home</a>
    <a class="btn btn-success active" role="button" href="/garden/show/<%=currentUser.id %>">Show Gardens</a>
