<h2>Create and Plan Your Garden</h2>
<form class="create-garden" name="gardenCreate" action="/garden/new" method="post">
<div id="accordion">
  <!-- for the garden -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
          Step #1 Create a Garden
        </a>
        <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Step #1 Create a Garden
        </button> -->
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="garden">
            <input type="hidden" class="form-control" name="user_id" value="<%= currentUser.id %>">
            <div class="form-group">
              <label for="gardenName">Garden Name</label>
              <input id="gardenName" type="text" name="name" placeholder="Name of this garden">
            </div>

            <div class="form-group">
              <label for="gardenDescription">Garden Description</label>
              <input id="gardenDescription" type="text" name="description" placeholder="Description of this garden">
            </div>

            <div class="form-group">
              <label for="gardenSections">Garden Sections</label>
              <input id="gardenSections" type="number" name="section_count" min="1" max="5" placeholder="Sections of the garden">
            </div>

            <div class="form-group">
              <label for="gardenLocation">Location</label>
              <input id="gardenLocation" type="text" name="location" placeholder="Location of this garden">
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- for the garden section -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="true" aria-controls="collapseTwo">
          Step #2 Complete Garden Section
        </a>
        <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Step #2 Complete Garden Section
        </button> -->
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="gardenSection">
          <h3>Garden Section</h3>
          <!-- <form class="create-garden-section" name="gardenSectionCreate" action="/garden/section" method="post"> -->
            <!-- <input type="hidden" class="form-control" name="userId" value="<%= currentUser.id %>"> -->
            <div class="form-group">
              <label for="sectionName">Section Name</label>
              <input id="sectionName" type="text" name="name" placeholder="Name of this garden">
            </div>

            <div class="form-group">
              <label for="sectionDescription">Section Description</label>
              <input id="sectionDescription" type="text" name="description" placeholder="Section description">
            </div>

            <div class="form-group">
              <label for="numOfRows">Number of Rows</label>
              <input id="numOfRows" type="number" name="number_of_rows" placeholder="How many rows are in this section of the garden">
            </div>

            <div class="form-group">
              <label for="numOfItems">Number of Items</label>
              <input id="numOfItems" type="number" name="number_of_rows" placeholder="How many items in each row in this section">
            </div>

            <div class="form-group">
              <label for="datePlanted">Date Planted</label>
              <input id="datePlanted" type="date" name="date_planted" placeholder="What date did you plant this section">
            </div>
            <!-- <input class="btn btn-success" type="submit"> -->
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
  <!-- for the crops section -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="true" aria-controls="collapseThree">
          Step #3 Pick a Crop
        </a>
        <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Step #3 Pick a Crop
        </button> -->
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="gardenCropInfo">
          <h3>Garden Crop Info</h3>
          <% if (crops){ %>
            <!-- <form class="" action="" method="post"> -->
            <div class="form-group">
            <% crops.forEach(function(crop){ %>
                <ul class="list-group">
                  <li class="list-group-item"><input type="radio" name="crop_choice" value="<%= crop.id %>"> Add Crop</li>
                  <li class="list-group-item">Crop ID: <%= crop.id %></li>
                  <li class="list-group-item list-group-item-primary">Crop Name: <%= crop.name %></li>
                  <li class="list-group-item list-group-item-primary">Wikipedia Url: <a href="<%= crop.en_wikipedia_url %>" target="_blank" > <%= crop.en_wikipedia_url %> </a></li>
                  <li class="list-group-item list-group-item-primary">Crop is Perennial: <%= crop.perennial %></li>

                  <% if (crop.median_lifespan !== null) { %>
                    <li class="list-group-item list-group-item-primary">Crop Lifespan: <%= crop.median_lifespan %> Days</li>
                  <% } else { %>
                    <li class="list-group-item list-group-item-primary">No Data for crop lifespan</li>
                  <% } %>

                  <% if (crop.median_days_to_first_harvest !== null) { %>
                    <li class="list-group-item list-group-item-primary">Crop Days to first harvest: <%= crop.median_days_to_first_harvest %> Days</li>
                  <% } else { %>
                    <li class="list-group-item list-group-item-primary">No Data for days to first harvest</li>
                  <% } %>

                  <% if (crop.median_days_to_last_harvest !== null) { %>
                    <li class="list-group-item list-group-item-primary">Crop Days to last harvest: <%= crop.median_days_to_last_harvest %> Days</li>
                  <% } else { %>
                    <li class="list-group-item list-group-item-primary">No Data for days to last harvest</li>
                  <% } %>
                </ul>
              <!-- </form> -->
            <% }) %>
            </div>
          <% } else { %>
            <p>Unable to find crops</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="true" aria-controls="collapseFour">
          Step #4 Create a note for the section/crop (optional)
        </a>
        <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Step #4 Create a note for the section/crop (optional)
        </button> -->
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <div class="gardenSectionNotes">
          <h3>Garden Section Crop Notes</h3>
          <p>Here are where notes go.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" role="button" href="/">Home</a>
<a class="btn btn-info" role="button" href="/garden/show/<%= currentUser.id %>">Show Gardens</a>
<input class="btn btn-success" type="submit">
</form>

<div class="gardenData">
  <h3>Garden Data</h3>
  <p>What can we put there to help with garden planning?</p>
</div>
