    <h2>Create and Plan Your Garden</h2>
      <form class="create-garden" name="gardenCreate" action="/garden/new2" method="post">

      <!-- for the garden -->
      <fieldset>
        <div class="garden">
            <input type="hidden" class="form-control" name="user_id" value="<%= currentUser.id %>">
            <div class="form-group">
              <label for="gardenName">Garden Name</label>
              <input id="gardenName" type="text" name="name" placeholder="Name of this garden" value="Name of this garden">
            </div>

            <div class="form-group">
              <label for="gardenLocation">Location</label>
              <input id="gardenLocation" type="text" name="location" placeholder="Location of this garden" value="garden location">
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Garden Description</span>
              </div>
              <textarea class="form-control" name="description" aria-label="Garden Description">Testing</textarea>
            </div>

            <!-- <div class="form-group">
              <label for="gardenSections">Garden Sections</label>
              <input id="gardenSections" type="number" name="section_count" min="1" max="5" placeholder="Sections of the garden">
            </div> -->
        </div>
      </fieldset>


        <div class="gardenCropInfo">
          <% if (crops){ %>
            <!-- <form class="" action="" method="post"> -->
            <div class="form-group">
            <% crops.forEach(function(crop){ %>
                <h3>Garden Section Info</h3>
                <ul class="list-group">
                  <fieldset>
                    <!-- <li class="list-group-item"><input type="checkbox" name="crop_choice" value="<%= crop.id %>"> Add Crop</li> -->
                    <div class="form-group list-group-item">
                      <label for="sectionName">Add <%= crop.name %> Section</label>
                      <input id="sectionName" type="checkbox" name="crop_choice" value="<%= crop.id %>" placeholder="Name of this garden">
                      <input type="hidden" name="section_name" value="<%= crop.name %>">
                      <input type="hidden" name="crop_id" value="<%= crop.id %>">
                    </div>

                    <!-- <div class="form-group list-group-item">
                      <label for="sectionDescription">Section Description</label>
                      <input id="sectionDescription" type="text" name="section_description" placeholder="Section description">
                    </div> -->

                    <div class="form-group list-group-item">
                      <label for="numOfRows">Number of Rows</label>
                      <input id="numOfRows" type="number" name="number_of_rows" min="1" placeholder="How many rows are in this section of the garden">
                    </div>

                    <div class="form-group list-group-item">
                      <label for="numOfItems">Number of Items</label>
                      <input id="numOfItems" type="number" name="number_of_items" min="1" placeholder="How many items in each row in this section">
                    </div>

                    <div class="form-group list-group-item">
                      <label for="datePlanted">Date Planted</label>
                      <input id="datePlanted" type="date" name="date_planted" placeholder="What date did you plant this section">
                    </div>
                  </fieldset>
                  <h3>Crop Information</h3>
                  <li class="list-group-item">Crop ID: <%= crop.id %></li>
                  <li class="list-group-item list-group-item-primary">Crop Name: <%= crop.name %></li>
                  <li class="list-group-item list-group-item">Wikipedia Url: <a href="<%= crop.en_wikipedia_url %>" target="_blank" > <%= crop.en_wikipedia_url %> </a></li>
                  <li class="list-group-item list-group-item">Crop is Perennial: <%= crop.perennial %></li>

                  <% if (crop.median_lifespan !== null) { %>
                    <li class="list-group-item list-group-item">Crop Lifespan: <%= crop.median_lifespan %> Days</li>
                  <% } else { %>
                    <li class="list-group-item list-group-item">No Data for crop lifespan</li>
                  <% } %>

                  <% if (crop.median_days_to_first_harvest !== null) { %>
                    <li class="list-group-item list-group-item">Crop Days to first harvest: <%= crop.median_days_to_first_harvest %> Days</li>
                  <% } else { %>
                    <li class="list-group-item list-group-item">No Data for days to first harvest</li>
                  <% } %>

                  <% if (crop.median_days_to_last_harvest !== null) { %>
                    <li class="list-group-item list-group-item">Crop Days to last harvest: <%= crop.median_days_to_last_harvest %> Days</li>
                  <% } else { %>
                    <li class="list-group-item list-group-item">No Data for days to last harvest</li>
                  <% } %>
                </ul>
            <% }) %>
            </div>
          <% } else { %>
            <p>Unable to find crops</p>
          <% } %>
        </div>

        <!-- notes section -->
        <!-- <div class="gardenSectionNotes">
          <h3>Garden Section Crop Notes</h3>
          <p>Here are where notes go.</p>
        </div> -->

        <a class="btn btn-primary" role="button" href="/">Home</a>
        <a class="btn btn-info" role="button" href="/garden/show/<%= currentUser.id %>">Show Gardens</a>
        <input class="btn btn-success" type="submit">
      </form>

      <div class="gardenData">
        <h3>Garden Data</h3>
        <p>What can we put there to help with garden planning?</p>
      </div>
