  <h2>List of <%= currentUser.first_name %>'s Gardens</h2>
      <% if (gardens){ %>
        <% gardens.forEach(function(garden) { %>
          <ul class="list-group">
            <li class="list-group-item"> <%= garden.dataValues.id %></li>
            <li class="list-group-item list-group-item-primary">Name: <%= garden.dataValues.name %>
              <a href="/garden/edit/<%= garden.dataValues.id %>"> Edit </a> |
              <a class="delete-garden" href="/garden/delete/<%= garden.dataValues.id %>"> Delete</a>
            </li>
            <li class="list-group-item">Description: <%= garden.dataValues.description %></li>
            <li class="list-group-item">Location: <%= garden.dataValues.location %></li>
            <% if(garden.sections){ %>
              <li class="list-group-item">Sections:</li>
              <% garden.sections.forEach(function(section){ %>
                <li class="list-group-item"><%= section.name %>
                  <a href="/section/show/<%= section.id %>"> Show </a> |
                  <a href="/section/edit/<%= section.id %>"> Edit </a> |
                  <a class="delete-section" href="/section/delete/<%= section.id %>"> Delete </a></li>
              <% }); %>
            <% }  %>
            <li class="list-group-item"><a href="/garden/add/<%= garden.dataValues.id %>"> Add Section</a></li>
          </ul>
        <% }); %>
      <% }  %>

      <hr>
      <a class="btn btn-primary" role="button" href="/">Home</a>
      <a class="btn btn-danger active" role="button" href="/auth/logout">Logout</a>
      <a class="btn btn-success active" role="button" href="/garden/new">Create Garden</a>
